<!DOCTYPE html>
<html lang="pt-BR" ng-app="listaTelefonica">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=
    .8"
    />
    <title>Lista Telefônica</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="lib/bootstrap/css/bootstrap.css"
    />
    <style>
      .jumbotron {
        text-align: center;
        width: 800px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
      }

      .table {
        margin-top: 30px;
      }

      .table tr {
        padding: 0.75em;
      }

      .btn,
      .form-control,
      .alert {
        margin-top: 20px;
      }

      .selecionado {
        background-color: aquamarine;
      }

      .negrito {
        font-weight: bolder;
      }
    </style>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-messages.js"></script>
    <script>
      angular.module("listaTelefonica", ["ngMessages"]);
      angular
        .module("listaTelefonica")
        .controller("listaTelefonicaController", function ($scope) {
          // $scope -> faz a ponte entre eles

          $scope.app = "Lista Telefônica";

          $scope.operadoras = [
            { nome: "Vivo", codigo: "15", categoria: "Celular" },
            { nome: "Claro", codigo: "21", categoria: "Celular" },
            { nome: "TIM", codigo: "41", categoria: "Celular" },
            { nome: "Oi", codigo: "14", categoria: "Celular" },
            { nome: "Vivo Fixo", codigo: "15", categoria: "Fixo" },
            { nome: "Claro Fixo (NET)", codigo: "21", categoria: "Fixo" },
            { nome: "Oi Fixo", codigo: "31", categoria: "Fixo" },
          ];

          $scope.contatos = [
            {
              nome: "Pedro",
              telefone: "(11) 98877-1234",
              cor: "plum",
              data: new Date(),
              operadora: $scope.operadoras[0],
            },
            {
              nome: "João",
              telefone: "(21) 99988-5678",
              cor: "red",
              data: new Date(),
              operadora: $scope.operadoras[1],
            },
            {
              nome: "Lucas",
              telefone: "(31) 98765-4321",
              cor: "blue",
              data: new Date(),
              operadora: $scope.operadoras[2],
            },
            {
              nome: "Moisés",
              telefone: "(61) 99123-8765",
              cor: "green",
              data: new Date(),
              operadora: $scope.operadoras[3],
            },
          ];

          $scope.addContato = (contato) => {
            $scope.contatos.push(angular.copy(contato));
            delete $scope.contato;
            $scope.contatoForm.$setPristine(true);
          };

          $scope.removeContato = (contatos) => {
            $scope.contatos = contatos.filter((contato) => {
              if (!contato.selecionado) {
                return contato;
              } else {
                return null;
              }
            });
          };

          $scope.isContatoSelecionado = (contatos) => {
            return contatos.some((contato) => {
              return contato.selecionado;
            });
          };

          $scope.classe1 = "selecionado";
          $scope.classe2 = "negrito";
        })
        .directive("telefoneMask", function () {
          return {
            restrict: "A",
            require: "ngModel",
            link: function (scope, element, attrs, ngModelCtrl) {
              element.on("input", function () {
                let value = element.val().replace(/\D/g, "");
                value = value.replace(/^(\d{2})(\d)/g, "($1) $2");
                value = value.replace(/(\d{5})(\d)/, "$1-$2");
                ngModelCtrl.$setViewValue(value);
                ngModelCtrl.$render();
              });
            },
          };
        });
    </script>
  </head>
  <body ng-controller="listaTelefonicaController">
    <div class="jumbotron">
      <!-- <h4 ng-bind="app"></h4> -->
      <h3>{{app}}</h3>
      <input
        type="text"
        ng-model="criterioBusca"
        placeholder="O que está buscando"
        class="form-control"
      />

      <table ng-show="contatos.length > 0" class="table">
        <tr>
          <th></th>
          <th>Nome</th>
          <th>Código</th>
          <th>Telefone</th>
          <th>Operadora</th>
          <th>Data</th>
          <th></th>
        </tr>
        <tr
          ng-class="{'selecionado negrito': contato.selecionado}"
          ng-repeat="contato in contatos | filter:{nome: criterioBusca}"
        >
          <td><input type="checkbox" ng-model="contato.selecionado" /></td>
          <td>{{contato.nome | uppercase}}</td>
          <td>{{contato.operadora.codigo}}</td>
          <td>{{contato.telefone}}</td>
          <td>{{contato.operadora.nome | lowercase}}</td>
          <td>{{contato.data | date:'dd/MM/yyyy HH:mm'}}</td>
          <td>
            <div
              style="background-color: plum; width: 20px; height: 20px"
              ng-style="{'background-color':
              contato.cor}"
            ></div>
          </td>
          <!-- <td ng-repeat="value in contato">{{value}}</td> -->
        </tr>
      </table>
      <hr />

      <form name="contatoForm">
        <input
          class="form-control"
          type="text"
          placeholder="Nome"
          name="nome"
          ng-model="contato.nome"
          ng-required="true"
          ng-maxLength="60"
        />
        <input
          class="form-control"
          type="text"
          placeholder="Telefone"
          name="telefone"
          ng-model="contato.telefone"
          ng-required="true"
          ng-maxLength="15"
          ng-minLength="15"
          ng-pattern="/^\(\d{2}\) \d{5}-\d{4}$/"
          telefone-mask
        />
        <select
          class="form-control"
          ng-model="contato.operadora"
          ng-options="operadora.nome for operadora in operadoras"
        >
          <option value="">Selecione uma operadora</option>
        </select>
      </form>

      <div ng-messages="contatoForm.nome.$error">
        <div
          class="alert alert-danger"
          ng-message="required"
          ng-show="contatoForm.nome.$dirty"
        >
          Preencha o campo nome!
        </div>
        <div class="alert alert-danger" ng-message="maxlength">
          Preencha nome! O campo deve ter no máximo 80 caracteres!
        </div>
      </div>

      <div ng-messages="contatoForm.telefone.$error">
        <div
          class="alert alert-danger"
          ng-message="require"
          ng-show="contatoForm.nome.$dirty"
        >
          Preencha o campo telefone!
        </div>
        <div class="alert alert-danger" ng-show="minlength">
          Preencha telefone corretamente com 11 dígitos!
        </div>
        <div class="alert alert-danger" ng-show="maxlength">
          Preencha telefone corretamente com 11 dígitos!
        </div>
      </div>
      <button
        class="btn btn-primary btn-block"
        ng-click="addContato(contato)"
        ng-disabled="contatoForm.$invalid"
      >
        Adicionar Contato
      </button>
      <button
        class="btn btn-danger btn-block"
        ng-click="removeContato(contatos)"
        ng-if="isContatoSelecionado(contatos)"
      >
        Apagar Contatos
      </button>
    </div>
    <div ng-include="'footer.html'"></div>
  </body>
</html>
