<!DOCTYPE html>
<html lang="pt-BR" ng-app="listaTelefonica">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=
    .8"
    />
    <title>Lista Telefônica</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="app/lib/bootstrap/css/bootstrap.css"
    />
    <link rel="stylesheet" href="app/css/app.css" />
    <script src="app/lib/angular/angular.js"></script>
    <script src="app/lib/angular/angular-locale_pt-br.js"></script>
    <script src="app/lib/angular/angular-messages.js"></script>
    <script src="app/js/app.js"></script>
    <script src="app/js/controllers/listaTelefonicaController.js"></script>
    <script src="app/js/directives/telefoneMaskDirective.js"></script>
    <script src="app/js/services/contatosAPIService.js"></script>
    <script src="app/js/services/operadorasAPIService.js"></script>
    <script src="app/js/services/serialGeneratorService.js"></script>
    <script src="app/js/constant/configValue.js"></script>
    <script src="app/js/config/serialGeneratorConfig.js"></script>
  </head>
  <body ng-controller="listaTelefonicaController">
    <div class="jumbotron">
      <!-- <h4 ng-bind="app"></h4> -->
      <h3>{{app}}</h3>
      <input
        type="text"
        ng-model="criterioBusca"
        placeholder="O que está buscando"
        class="form-control"
      />

      <div
        class="alert alert-danger"
        ng-show="message"
        style="white-space: pre-line"
      >
        {{ message }}
      </div>

      <table ng-show="contatos.length > 0" class="table">
        <tr>
          <th></th>
          <th><a href="" ng-click="ordenarPor('id')">Serial</a></th>
          <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
          <th>Código</th>
          <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
          <th>Operadora</th>
          <th><a href="" ng-click="ordenarPor('data')">Data</a></th>
          <th></th>
        </tr>
        <tr
          ng-class="{'selecionado negrito': contato.selecionado}"
          ng-repeat="contato in contatos | filter:{nome: criterioBusca} | orderBy:criterioOrdenacao:direcaoOrdenacao"
        >
          <td><input type="checkbox" ng-model="contato.selecionado" /></td>
          <td>
            {{ serialExibicao(contato) }}
            <a href="" ng-click="toggleSerial(contato)">
              <span ng-if="!contato.serialExpandido">...</span>
              <span ng-if="contato.serialExpandido">[esconder]</span>
            </a>
          </td>
          <td>{{contato.nome}}</td>
          <td>{{contato.operadora.codigo}}</td>
          <td>{{contato.telefone}}</td>
          <td>{{contato.operadora.nome | lowercase}}</td>
          <td>{{contato.data | date:'dd/MM/yyyy HH:mm'}}</td>
          <td>
            <div
              style="background-color: plum; width: 20px; height: 20px"
              ng-style="{'background-color':
              contato.cor}"
            ></div>
          </td>
          <!-- <td ng-repeat="value in contato">{{value}}</td> -->
        </tr>
      </table>
      <hr />

      <form name="contatoForm">
        <input
          class="form-control"
          type="text"
          placeholder="Nome"
          name="nome"
          ng-model="contato.nome"
          ng-required="true"
          ng-maxLength="60"
        />
        <input
          class="form-control"
          type="text"
          placeholder="Telefone"
          name="telefone"
          ng-model="contato.telefone"
          ng-required="true"
          ng-maxLength="15"
          ng-minLength="15"
          ng-pattern="/^\(\d{2}\) \d{5}-\d{4}$/"
          telefone-mask
        />
        <select
          class="form-control"
          name="operadora"
          ng-model="contato.operadora"
          ng-options="operadora as (operadora.nome + ' (' + (operadora.preco | currency) + ')') for operadora in operadoras | orderBy:'nome'"
          ng-required="true"
        >
          <option value="">Selecione uma operadora</option>
        </select>
        <div ng-messages="contatoForm.operadora.$error">
          <div
            class="alert alert-danger"
            ng-message="required"
            ng-show="contatoForm.operadora.$dirty"
          >
            Selecione uma operadora!
          </div>
        </div>
      </form>

      <div ng-messages="contatoForm.nome.$error">
        <div
          class="alert alert-danger"
          ng-message="required"
          ng-show="contatoForm.nome.$dirty"
        >
          Preencha o campo nome!
        </div>
        <div class="alert alert-danger" ng-message="maxlength">
          Preencha nome! O campo deve ter no máximo 80 caracteres!
        </div>
      </div>

      <div
        ng-messages="contatoForm.telefone.$error"
        ng-show="contatoForm.telefone.$dirty"
      >
        <div ng-message="required" class="alert alert-danger">
          Preencha o campo telefone!
        </div>
        <div ng-message="minlength" class="alert alert-danger">
          Telefone deve ter 11 dígitos!
        </div>
        <div ng-message="maxlength" class="alert alert-danger">
          Telefone deve ter 11 dígitos!
        </div>
        <div ng-message="pattern" class="alert alert-danger">
          Formato inválido! Use (XX) XXXXX-XXXX
        </div>
      </div>
      <button
        class="btn btn-primary btn-block"
        ng-click="addContato(contato)"
        ng-disabled="contatoForm.$invalid"
      >
        Adicionar Contato
      </button>
      <button
        class="btn btn-danger btn-block"
        ng-click="removeContato(contatos)"
        ng-if="isContatoSelecionado(contatos)"
      >
        Apagar Contatos
      </button>
    </div>
    <div ng-include="'app/view/footer.html'"></div>
  </body>
</html>
